.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  
  .container .block-container{
    width: 30%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: blanchedalmond;
    border: 1px solid #25045a;
    /* border: 1px solid lightblue; */
    border-radius: 5px;
    border-style: groove;
    padding: 1rem;
    position: relative;
    top: 2rem;
    margin: 2rem;
  }
  
  #todos{
    width: 85%;
    /* border: 5px solid purple; */
    outline: none;
    padding: 0.8rem 1.2rem;
    background-color: floralwhite;
    border-radius: 10px;
    border-style: groove;
    font-size: x-large;
    border-bottom: 1px solid purple;
    border-left: 4px solid purple;
    border-top: 4px solid purple;
    border-right: 1px solid purple;
    transition: 0.1s;
  }
  
  #todos:hover{
    border-top: 1px solid purple;
    border-right: 4px solid purple;
    border-bottom: 4px solid purple;
    border-left: 1px solid purple;
  }
  
  .asign-todo{
    border: 2px solid #fff703;
    outline: none;
    padding: 1rem 6rem;
    color: #fff703;
    background-color: rgb(48 5 88);
    font-size: larger;
    border-radius: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 1.4444;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .asign-todo:hover{
    /* transform: scale(0.8); */
    color: rgb(48 5 88);
    background-color: #fff703;
    border: 2px solid  rgb(48 5 88);
  }
  
  .asign-todo:active{
    transform: scale(0.8);
    color: rgb(48 5 88);
    background-color: #fff703;
  }



  /* .asign-todo:hover{
  color: orangered;
  background-color: #ffffff;
  border-top: 1px solid purple;
  border-right: 1px solid purple;
  border-left: 4px solid purple;
  border-bottom: 4px solid purple;
} */

/* 

.all-delete{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  padding: 0.5rem 1rem;
  color: crimson; */
  /* background-color: ; */
  /* outline: none;
  box-shadow: 0px 0px 15px 8px goldenrod inset;
  border: none; */
  /* border: 1px solid rgb(255, 240, 33); */
  /* border-left: 1px solid rgb(255, 240, 33);
  border-right: 4px solid rgb(255, 240, 33);
  border-top: 4px solid rgb(255, 240, 33); */
  /* border-radius: 5px;
  cursor: pointer;  
  transition: 0.01s;
} */
